<li class="highlight hover hsub">
    <a href="#changes" class="dropdown-toggle">
        <span class="menu-icon">1.</span>
        <span class="menu-text">Intro</span>
    </a>
    <b class="arrow"></b>
</li>
<li class="highlight hover hsub">
    <a href="#changes" class="dropdown-toggle">
        <span class="menu-icon">2.</span>
        <span class="menu-text">Profile</span>
    </a>
    <b class="arrow"></b>
</li>

<li class="highlight hover hsub">
    <a href="#changes" class="dropdown-toggle">
        <span class="menu-icon">3.</span>
        <span class="menu-text">Setting Tunnel</span>
        <b class="arrow fa fa-angle-right"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="hover"><a href="#changes.v5"><i class="menu-icon fa fa-caret-right"></i> Master </a></li>
        <li class="hover"><a href="#changes.v4"><i class="menu-icon fa fa-caret-right"></i> Client</a></li>
    </ul>
    <b class="arrow"></b>
</li>
<li class="highlight hover hsub">
    <a href="#changes" class="dropdown-toggle">
        <span class="menu-icon"><i class="fa fa-lock"></i></span>
        <span class="menu-text">Logout</span>
    </a>
    <b class="arrow"></b>
</li>