<!DOCTYPE html>
<html lang="en">

<head>
    <title>imgur edy :)</title>
    <!--http://www.bootply.com/render/0BTL2WO2uV-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf_token" id="csrfTokenID" content="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link href="http://www.bootply.com/bootply/themes/metroid/theme.css">
</head>

<body>
    <div class="container-fluid">
        <div class="konten_utama">
            <%@ konten { %>
                <% } %>
        </div>
    </div>
</body>

</html>