<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta charset="utf-8" />
  <title>Login Page - Karya Teknologi</title>
  <meta name="_xsrf" id="xrsf" content="" />
  <meta name="description" content="User login page" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- bootstrap & fontawesome -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/font-awesome/4.5.0/css/font-awesome.min.css" />

  <!-- text fonts -->
  <link rel="stylesheet" href="static/css/fonts.googleapis.com.css" />

  <!-- ace styles -->
  <link rel="stylesheet" href="static/css/ace.min.css" />

  <!--[if lte IE 9]>
			<link rel="stylesheet" href="static/css/ace-part2.min.css" />
		<![endif]-->
  <link rel="stylesheet" href="static/css/ace-rtl.min.css" />

  <!--[if lte IE 9]>
		  <link rel="stylesheet" href="static/css/ace-ie.min.css" />
		<![endif]-->

  <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

  <!--[if lte IE 8]>
		<script src="static/js/html5shiv.min.js"></script>
		<script src="static/js/respond.min.js"></script>
		<![endif]-->
  <%+ "partials/alljssrc.html" %>

</head>

<body class="login-layout">
  <%@ isilogin { %>
    <% } %>

</body>

</html>