<form action="topicdetail" method="get">

    <div class="form-group">
        <label for="">Pilih Topik:</label>
        <select class="form-control" id="cmbListTopik" name="PilihanTopik">
                                    <%	for i := 0; i < qtyEcho; i++ { %>
                                    <% if res.Data[i].HeroImage.ID !="" { %> <!--cek apakah ada gambar tumbnail-->
                                        <option value="<%==i res.Data[i].ID%>"> <%==s res.Data[i].Name  %></option>
                                    <% } %>    <!--end cek apakah ada gambar tumbnail-->
                                    <% } %>
                            </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Tampilkan </button>
</form>
<!--<form action="logout" method="get">-->
<button id="deleteCookie" class="btn btn-primary btn-block">LOGOUT </button>
<!--</form>-->

<hr>
<div class="row-fluid container-folio">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Topic: Defaults
            </h1>
        </div>
    </div>

    <div class="panel-body">
        <%	for i := 0; i < qtyEcho; i++ { %>
            <% if res.Data[i].HeroImage.ID !="" { %>
                <!--cek apakah ada gambar tumbnail-->

                <div class="col-md-3">
                    <div class="thumbnail">
                        <!-- IMAGE CONTAINER-->
                        <img src=" http://i.imgur.com/<%=s res.Data[i].HeroImage.ID%>s.png" alt="post image" class="img-responsive">
                        <!--END IMAGE CONTAINER-->
                        <!-- CAPTION -->
                        <div class="caption">
                            <p class="">
                                Nama Topik:
                                <%=s res.Data[i].Name  %>
                            </p>
                            <p class="">
                                ID :
                                <%=s res.Data[i].TopPost.ID  %>
                            </p>

                            <div class="row">
                                <!--<div class="col-md-6">
                                <p class="lead">$21.000</p>
                            </div>-->
                                <form method="post" action="topicgaleryitem">
                                    <input name="csrf_token" id="csrfTokenID" value="" style="display:none" />
                                    <input type="text" id="hiiden" name="TopicID" style="display:none" value="<%=i res.Data[i].TopPost.TopicID %>">
                                    <input type="text" id="hiiden" name="ItemID" style="display:none" value="<%=s res.Data[i].TopPost.ID%>">
                                    <div class="col-md-6">
                                        <button class="btn btn-info btn-block" type="submit">Detail</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <!--END CAPTION -->
                    </div>
                    <!-- END: THUMBNAIL -->
                </div>


                <%  } %>
                    <!--end cek tumbnail-->


                    <% } %>

    </div>
</div>

<script>
    $(function ($) {
        $('#deleteCookie').click(function () {
            document.cookie = 'jwt' + '=; expires=Thu, 01-Jan-70 00:00:01 GMT;';

            location.reload();
        });
    });

</script>