<hr>
<div class="row-fluid container-folio">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Topic:
                <%==s res3.Data[0].Topic %>
            </h1>
        </div>
    </div>
    <%  qtyEcho =len(res3.Data) %>
        <div class="panel-body">
            <%	for i := 0; i < qtyEcho; i++ { %>
                <% if res3.Data[i].Cover !="" { %>
                    <!--cek apakah ada gambar tumbnail-->
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <!-- IMAGE CONTAINER-->
                            <img src=" http://i.imgur.com/<%==s res3.Data[i].Cover%>s.png" alt="post image" class="img-responsive">
                            <!--END IMAGE CONTAINER-->
                            <!-- CAPTION -->
                            <div class="caption">
                                <p class="">
                                    ID :
                                    <%==s res3.Data[i].ID  %>
                                </p>


                                <div class="row-fluid">
                                    <!--<div class="col-md-6">
                                <p class="lead">$21.000</p>
                            </div>-->
                                    <form method="post" action="topicgaleryitem">
                                        <input name="_xsrf" id="csrfTokenID" value="" style="display:none" />
                                        <input type="text" id="hiiden" name="TopicID" style="display:none" value="<%==i res3.Data[i].TopicID %>">
                                        <input type="text" id="hiiden" name="ItemID" style="display:none" value="<%==s res3.Data[i].ID%>">
                                        <div class="col-md-6">
                                            <button class="btn btn-info btn-block" type="submit">Detail</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <!--END CAPTION -->
                        </div>
                        <!-- END: THUMBNAIL -->
                    </div>


                    <%  } %>
                        <!--end cek tumbnail-->


                        <% } %>

        </div>
</div>