<div class="panel panel-default">
    <div class="panel-heading">
        Title:
        <%==s res2.Data.Title %>
    </div>
    <div class="panel-body">
        Image Data :
        <% if len (res2.Data.Images) >0 {  %>
            <p> ID :
                <%==s res2.Data.Images[0].ID  %>
            </p>
            <p> Title:
                <%==i res2.Data.Images[0].Views  %>
            </p>
            <p> Type :
                <%==s res2.Data.Images[0].Type %>
            </p>
            <br>
            <img src="<%==s res2.Data.Images[0].Link %>" alt="" class="img-responsive">

            <% } else { %>
                <h1>DETAILS NOT FOUND</h1>

                <% }  %>
    </div>
</div>